<template>
  <div>
    <input v-model="productId" placeholder="Enter product id">
    <button @click="getStatus()">Get</button>
    <div>Status: {{status}}</div>
  </div>
</template>

<script>
  import Api from '@/Api'
  export default {
    components: {},
    data() {
      return {
        productId: '',
        status: ''
      }
    },
    methods: {
      async getStatus() {
        const response = (await Api().get(`exec?id=${this.productId}`)).data
        if(response.row.length) {
          this.status = response.row[1]
        }
        else {
          this.status = 'Unknown product id'
        }
      }
    }
  }

</script>

<style scoped>

</style>